################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchitecture/CopilotIndices/17.14.719.50355
/.vs/CleanArchitecture/FileContentIndex
/.vs/CleanArchitecture/v17
/.vs
/CleanArchitecture/.vs
/CleanArchitecture/Src/CleanArchitecture.Core/bin/Debug/net9.0
/CleanArchitecture/Src/CleanArchitecture.Core/obj
/CleanArchitecture/Tests/CleanArchitecture.CoreTest/bin
/CleanArchitecture/Tests/CleanArchitecture.CoreTest/obj
/Template/Application/CleanArchitecture/.vs/CleanArchitectureApplication
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Debug/net9.0/CleanArchitecture.Application.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Debug/net9.0/CleanArchitecture.Application.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Debug/net9.0/CleanArchitecture.Application.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Debug/net9.0/CleanArchitecture.Application.csproj.AssemblyReference.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Release/net9.0/CleanArchitecture.Application.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Release/net9.0/CleanArchitecture.Application.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Release/net9.0/CleanArchitecture.Application.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/Release/net9.0/CleanArchitecture.Application.csproj.AssemblyReference.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/CleanArchitecture.Application.csproj.nuget.dgspec.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/CleanArchitecture.Application.csproj.nuget.g.props
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/project.assets.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Application/obj/project.nuget.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Debug/net9.0/CleanArchitecture.Core.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Debug/net9.0/CleanArchitecture.Core.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Debug/net9.0/CleanArchitecture.Core.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Debug/net9.0/CleanArchitecture.Core.csproj.AssemblyReference.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Release/net9.0/CleanArchitecture.Core.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Release/net9.0/CleanArchitecture.Core.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Release/net9.0/CleanArchitecture.Core.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/Release/net9.0/CleanArchitecture.Core.csproj.AssemblyReference.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.dgspec.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/project.assets.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Core/obj/project.nuget.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/CleanArchitecture.Shared.csproj.nuget.dgspec.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/CleanArchitecture.Shared.csproj.nuget.g.props
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Debug/net9.0/CleanArchitecture.Shared.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Debug/net9.0/CleanArchitecture.Shared.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Debug/net9.0/CleanArchitecture.Shared.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Debug/net9.0/CleanArchitecture.Shared.csproj.AssemblyReference.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/project.assets.json
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/project.nuget.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Release/net9.0/CleanArchitecture.Shared.AssemblyInfo.cs
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Release/net9.0/CleanArchitecture.Shared.AssemblyInfoInputs.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Release/net9.0/CleanArchitecture.Shared.assets.cache
/Template/Application/CleanArchitecture/Src/CleanArchitecture.Shared/obj/Release/net9.0/CleanArchitecture.Shared.csproj.AssemblyReference.cache
